.modal {
    overflow-x: auto !important;
}

.modal-share-dialog {
    width: 1000px;
    max-width: 1000px;
}

.modal-share-body {
    background: linear-gradient(to bottom, #f5676c, #fce3ac, #d7fee7);
    padding: 2rem;
    height: 1000px;
    width: 1000px;
    font-family: noah;
    font-size: 1.5rem;
}

.modal-share-body > h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #f8f9fa;
}