.table-tracks {
    border: 10px solid #f8f9fa;
    background-image: url('../../../assets/taylor.png');
    position: relative;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.table td, .table th, .table thead th {
    border: none;
}