.container-home {
    font-family: noah;
    background-color: rgba(173, 216, 230, 0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .25rem;
}

.ranking-example {
    width: 100%;
    height: auto;
}