@font-face {
    font-family: 'noah';
    src: url('./assets/fonts/noah-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/noah-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noah';
    src: url('./assets/fonts/noah-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/noah-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'noah';
    src: url('./assets/fonts/noah-regularitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/noah-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fdecfa;
    background: -webkit-linear-gradient(to right, #fdecfa, #fdecfa, #fdecfa, #eaf0fa, #eaf0fa, #eaf0fa, #fef0d8);
    background: linear-gradient(to right, #fdecfa, #fdecfa, #fdecfa, #eaf0fa, #eaf0fa,  #eaf0fa, #fef0d8);
}

.footer {
    background-color: #97b8e7;
    color: white;
}

.btn-footer {
    color: white;
    font-weight: bold;
}

.btn-footer:hover {
    color: white;
    text-decoration: underline;
}

.btn:focus {
    box-shadow: none;
}
